<div class="row">

  <div class="col-md-6">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{data.title}}</h5>
        <app-formatted-text [data]="data.statement"></app-formatted-text>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="card">
      <div class="card-body">

        <h6 class="card-title">Response</h6>
        <div class="row">
          <div class="response" *ngFor="let block of blocksResponse; let i = index">
            <button type="button" class="btn btn-secondary" (click)="removeBlock(block.cod)">{{block.value}}</button>
          </div>
        </div>

        <hr>

        <h6 class="card-title">Options</h6>
        <div class="row">
          <div class="option" *ngFor="let block of blocksOptions; let i = index">
            <button type="button" (click)="addBlock(block.cod)" class="btn btn-secondary">{{block.value}}</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div *ngIf="isExam" class="container">
      <div class="row">
          <div class="col">
                  <button *ngIf="data.orden != 1" (click)="backQuestion()" type="button" class="btn btn-primary btn-lg btn-block">Anterior</button>
          </div>
          <div class="col">
                  <button *ngIf="data.orden != data.nQuestions" (click)="nextQuestion()" type="button" class="btn btn-primary btn-lg btn-block">Siguiente</button>
          </div>
      </div>
  </div>
  <button *ngIf="!isExam" type="button" class="btn btn-success btn-lg btn-block" (click)="qualify()">{{nameButton}}</button>