<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{data.title}}</h5>
    <app-formatted-text [data]="data.statement"></app-formatted-text>
  </div>
</div>

<div class="card">
  <div class="card-body">

    <h6 class="card-title">Response</h6>
    <div class="btn-group btn-group-md" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary" (click)="removeBlock(block.cod)" *ngFor="let block of blocksResponse;">{{block.value}}</button>
    </div>

    <hr>

    <h6 class="card-title">Options</h6>
    <div class="row">
      <div class="option" *ngFor="let block of blocksOptions; let i = index">
        <button type="button" (click)="addBlock(block.cod)" class="btn btn-secondary">{{block.value}}</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-success btn-lg btn-block" (click)="qualify()">{{nameButton}}</button>