<div class="jumbotron">
    <h1 class="display-6">{{section.title}}</h1>
    <hr class="my-4">
    <p class="lead">Antes de comenzar a jugar, lee la documentación de la sección!</p>
    <button class="btn btn-primary btn-lg" type="button" style="margin: 4px" data-toggle="modal" data-target="#docModal">Learn
        more</button>
    <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Challanges
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card" style="margin-top: 4px">
            <ul class="list-group list-group-flush">
                <li [class]="getClass(i)" *ngFor="let challange of section.challanges; let i = index;">
                    {{ getChallangeDescription(i)}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg">
        <h2>Main Levels</h2>
        <hr>

        <app-level-card [level]="level" *ngFor="let level of levelsMain"></app-level-card>
    </div>

    <div class="col-lg">
        <h2>Optional Levels</h2>
        <hr>

        <app-level-card [level]="level" *ngFor="let level of levelsOptional"></app-level-card>
    </div>


</div>

<div id="docModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-formatted-text [data]="section.documentation"></app-formatted-text>
            </div>
        </div>
    </div>
</div>