<h1>Modo competitivo</h1>
<hr>

<div class="row text-center">
    <div class="col-sm-6" style="margin-top: 10px">
        <div class="card" style="height:100%">
            <div>
                <img class="card-img-top" src="assets/play.jpeg" style="height:30%;" alt="Card image cap">
            </div>
            <div class="card-body">
                <h1 class="card-title">Jugar!</h1>
                <hr>
                <p class="card-text text-justify">Juega a preguntas de otros usuarios y aumenta tu nivel de desarrollador web con ejercicios de cualquier tipo. Las primeras preguntas
                    no estarán validadas y podrás votar si crees que deben estarlo, no contará para tu puntuación.
                </p>
                <button (click)="play()" class="btn btn-primary">Empezar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-top: 10px">
        <div class="card" style="height:100%">
            <div class="card-body">
                <div>
                    <img class="card-img-top" src="assets/build.png" style="height:30%;" alt="Card image cap">
                </div>
                <h1 class="card-title">Crear!</h1>
                <hr>
                <p class="card-text text-justify">Crea nuevas preguntas y ejercicios para demostrar que lo que has aprendido durante el modo historia sirve realmente para algo. 
                    Las preguntas tendrán que ser validadas por otros usuarios en el otro modo de juego.
                </p>
                <button (click)="createQuestion()" class="btn btn-primary">Empezar</button>
            </div>
        </div>
    </div>
</div>