<div class="card text-center bg-light mb-3" style="width: 100%">
    <div class="card-header">
        <h2 class="display-5">My Questions</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">State</th>
                    <th scope="col">Info</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{question.question.title}}</td>
                    <td>{{question.state}}</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>