<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{data.title}}</h5>
        <app-formatted-text [data]="data.statement"></app-formatted-text>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card" *ngFor="let line of data.linesCode; let i = index">

      <div class="card-body">
        <h6 class="card-title">{{line.name}}</h6>
        <textarea class="form-control" [(ngModel)]="response[i]"></textarea>
      </div>

    </div>
  </div>
</div>

<div *ngIf="isExam" class="container">
    <div class="row">
        <div class="col">
                <button *ngIf="data.orden != 1" (click)="backQuestion()" type="button" class="btn btn-primary btn-lg btn-block">Anterior</button>
        </div>
        <div class="col">
                <button *ngIf="data.orden != data.nQuestions" (click)="nextQuestion()" type="button" class="btn btn-primary btn-lg btn-block">Siguiente</button>
        </div>
    </div>
</div>
<button *ngIf="!isExam" type="button" class="btn btn-success btn-lg btn-block" (click)="qualify()">{{nameButton}}</button>