<div class="jumbotron">
  <h1 class="display-6">Salas de juego</h1>
  <hr class="my-4">

  <div *ngIf="isAdmin">
    <p class="lead">En esta sección podrás crear salas de juego personalizadas, diseñar examenes e invitar a otros usuarios para que los utilizen.
      Pulsa el botón de abajo para comenzar.
    </p>
    <button class="btn btn-primary btn-lg" type="button" style="margin: 4px" data-toggle="modal" data-target="#addRoom">Crear
      sala</button>
  </div>
  <div *ngIf="!isAdmin">
    <p class="lead">En esta sección podrás jugar a examenes diseñados por otros usuarios, si ya te has unido a alguna sala aparecerá justo debajo, si no es así,
      consulta tus notificaciones en la sección de inicio o espera a que te inviten a una.
    </p>
  </div>

</div>

<div #myModal class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <app-add-room (newRoomEvent)="newRoom($event)" (close)="onClose($event)"></app-add-room>
</div>

<div class="card-columns">
  <app-room-card [room]="room" *ngFor="let room of rooms"></app-room-card>
</div>