<div *ngFor="let notification of notifications">

  <div [ngSwitch]="notification.type">

    <div *ngSwitchCase="'INITIAL'" class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">{{notification.title}}</h4>
      <p>{{notification.description}}</p>
    </div>

    <div *ngSwitchCase="'INVITE_ROOM'" class="alert alert-info" role="alert">
      <h4 class="alert-heading">{{notification.title}}</h4>
      <p>{{notification.description}}</p>
      <hr>
      <button (click)="acceptInvitation(notification)" type="button" class="btn btn-primary" style="margin: 5px">Aceptar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>

  </div>

</div>