<div *ngIf="user">
  <div class="jumbotron">
    <h1 class="display-4"><strong>QuizApp!</strong></h1>
    <p class="lead">Aprende de una manera diferente, aprende jugando.</p>
    <hr class="my-4">
    <p>¿Ques es QuizApp? ¿Para quién esta dirigido?</p>
    <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#exampleModal">Lee más</a>
  </div>


  <div class="row">

    <div class="col-lg">
      <h2>Notificaciones</h2>
      <hr>
      <div *ngFor="let notification of user.notifications">

        <div [ngSwitch]="notification.type">

          <div *ngSwitchCase="'INITIAL'" class="alert alert-success" role="alert">
            <button (click)="removeNotification(notification)" type="button" class="close" data-dismiss="alert"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">{{notification.title}}</h4>
            <p>{{notification.description}}</p>
          </div>

          <div *ngSwitchCase="'INVITE_ROOM'" class="alert alert-info" role="alert">
            <h4 class="alert-heading">{{notification.title}}</h4>
            <p>{{notification.description}}</p>
            <hr>
            <button (click)="acceptInvitation(notification)" type="button" class="btn btn-primary" style="margin: 5px">Aceptar</button>
            <button (click)="removeNotification(notification)" type="button" class="btn btn-danger">Cancelar</button>
          </div>

        </div>

      </div>
    </div>
    <div class="col-lg">
      <h2>Continua...</h2>
      <hr>
      <div style="margin-bottom: 10px">
        <app-section-card [section]="user.sectionContinue"></app-section-card>
      </div>

      <div>
        <app-level-card [level]="user.levelContinue"></app-level-card>
      </div>
    </div>
  </div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">QuizApp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>QuizzApp es una aplicación que quiere enseñar todo lo relacionado con el desarrollo web de aplicaciones completas. Además quiere realizar todo esto
          con un proceso de enseñanza diferente al tradicional, basado en la gamificación y con un alto grado de participación por parte de los alumnos, para
          que no sean simples sujetos pasivos.
        </p>
        <hr>
        <p>
          Aunque el usuario objetivo está fijado en los alumnos de instituto que empiezan a interesarse por el mundo de la programación, está abierto y preparado para
          que a cualquier persona le pueda ser útil y divertida.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>